h2 {
    margin: 0;
    margin-right: 40px;
    margin-bottom: 20px;
    @media (max-width: 900px) {
        font-size: 24px !important;
    }
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog-list {
    display: flex;
    margin-bottom: 160px;
}

small {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 14px;
}

.catalog-layout {
    width: 100%;
    display: grid;
    margin-top: 32px;
    border: 2px solid black;
    grid-template-columns: 1fr 3fr;
    position: relative;

    &.loading::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 98;
        top: 0;
        left: 0;
        background-color: white;
    }
    &.loading::before {
        content: "";
        position: absolute;
        width: 80px;
        z-index: 99;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        border: 4px solid black;
        border-radius: 50%;
        border-top-color: white;
        animation: spin 1s linear infinite;
    }

    @media (max-width: 1440px) {
        grid-template-columns: 1fr;
    }

    .filter-form {
        display: flex;
        padding: 75px 45px;
        flex-direction: column;
        @media (max-width: 1440px) {
            flex-direction: row;
            flex-wrap: wrap;
            border-right: none;
            column-gap: 26px;
            padding: 35px;
        }
        row-gap: 26px;
        border-right: 2px solid black;
        background-color: #d9d9d9;

        .filter-group {
            @media (max-width: 1440px) {
                flex-grow: 1;
            }
            .filter-items {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                .filter-item {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    input {
                        display: none;
                        & + label {
                            cursor: pointer;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;

                            border: 3px solid black;
                            min-width: 20px;
                            min-height: 20px;
                        }
                        &:checked + label {
                            min-width: 12px;
                            min-height: 12px;
                            border: 7px solid black;
                        }
                    }
                    label {
                        cursor: pointer;
                        margin-top: 2px;
                    }
                }
            }

            h3 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 18px;
            }
        }
    }

    .products {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-content: stretch;
        background-color: white;
        align-content: stretch;
        border: none;
        grid-column-gap: 1px;

        @media (max-width: 1102px) {
            display: flex;
            flex-wrap: wrap;
            background: white;
            justify-content: center;
        }
    }
}

.products.more {
    display: grid;
    width: 100%;
    background-color: black;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
    border-top: none;
    @media (max-width: 1102px) {
        display: flex;
        flex-wrap: wrap;
        background: white;
        justify-content: center;
    }
}
.products.more .product-preview {
    outline: 2px solid black;
}

.product-preview {
    @media (max-width: 1102px) {
        flex-grow: 1;
    }
    outline: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    .image-section {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 24px 0;
        border-bottom: 2px solid black;
        img {
            max-width: 230px;
        }
    }
    .info-section {
        display: flex;
        flex-direction: column;
        padding: 56px;
        @media (max-width: 400px) {
            padding: 24px;
        }
        h4 {
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
            transition: 0.18s color ease-in-out;
            &:hover {
                color: #c0a139;
            }
            margin-top: 0;
            margin-bottom: 12px;
        }

        .buy-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
                font-size: 16px;
                margin-right: 8px;
            }
        }

        .button-wrapper {
            margin-top: 6px;
            .button-in-cart {
                background-color: #d9d9d9;
            }
        }
    }
}

.more-divider {
    display: flex;
    width: 100%;
    background-color: #d9d9d9;
    height: 26px;
    grid-column: 1 / 4;
    border-top: 2px solid black;
}

@keyframes border-b-rot {
    from {
        bottom: -3px;
        left: 0%;
    }

    to {
        left: -100%;
        bottom: -3px;
    }
}

@keyframes border-t-rot {
    from {
        top: -3px;
        left: -100%;
    }

    to {
        left: 100%;
        top: -3px;
    }
}

.product-view {
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    transition: 0.3s opacity ease;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 15;

    .view-content {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 90%;

        .head {
            top: 0;
            left: 0;
            position: absolute;
            z-index: 10;
            padding: 29px 22px;
            i {
                cursor: pointer;
                font-size: 33px;
            }
        }
        main {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 900px;
            flex-wrap: wrap;
            gap: 40px;

            .information {
                max-width: 527px;
                display: flex;
                h5 {
                    margin: 0;
                    letter-spacing: 2px;
                    font-weight: normal;
                    font-size: 23px;
                }
                .exist-status {
                    margin-bottom: 32px;
                    color: #6a9755;
                    &.no {
                        color: #ff0000;
                    }
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    margin-top: 0;
                    gap: 12px;
                    p {
                        margin: 12px 0;
                    }
                    i {
                        font-size: 24px;
                    }
                }
                .pricing-row {
                    .price {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        font-weight: medium;
                    }

                    display: flex;
                    gap: 18px;
                    flex-wrap: wrap;
                    margin-bottom: 18px;

                    button {
                        max-width: 240px;
                    }

                    .description {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: normal;

                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                }
            }

            .image {
                width: 280px;
                height: 386px;
                margin-top: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &.visible {
        opacity: 1;
        pointer-events: all;
        transition: 0.3s opacity ease;
    }
    &.loading::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }
    &.loading::before {
        content: "";
        z-index: 18;
        position: absolute;
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        border: 4px solid black;
        border-radius: 50%;
        border-top-color: white;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
