.comment-error {
    color: rgb(203, 31, 31);
    font-size: 16px;
    margin-bottom: 24px;
}

.communications {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap-reverse;
    gap: 40px;
    margin-top: 38px;
    justify-content: space-between;

    .form {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        max-width: 590px;
        @media (max-width: 360px) {
            max-width: unset;
            min-width: unset;

            h4 {
                font-size: 16x !important;
            }
        }
        flex-grow: 1;

        h4 {
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
            margin-top: 0;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            margin-top: 44px;
            textarea {
                flex-grow: 1;
                resize: none;
                outline: none;
                border: 2px solid black;
                padding: 20px;
                font-family: "URegular";
                font-size: 14px;
                color: black;
            }
            .user {
                flex-wrap: wrap;
                margin-bottom: 22px;
                display: flex;
                gap: 20px;
                align-items: center;
                .avatar {
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                    background-color: #e9d591;
                    i {
                        font-size: 34px;
                    }
                }
                .name {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 16px;
                    input {
                        border: none;
                        border-bottom: 2px solid black;
                        padding: 0;
                        padding-bottom: 4px;
                    }
                }
            }
            .rating {
                p {
                    margin-bottom: 16px;
                    margin-top: 22px;
                    font-size: 16px;
                }
            }
            .submit {
                margin-top: 48px;
            }
        }
    }

    .comments {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 18px;
        row-gap: 38px;
        max-height: 640px;
        flex-grow: 1;
        max-width: 622px;
        min-width: 320px;
    }
}

.message {
    position: relative;
    max-width: 440px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    margin-right: 20px;

    .stars {
        position: absolute;
        top: -18px;
        right: 5%;
        height: 38px;
        border: 2px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6px;

        font-size: 16px;
        gap: 3px;

        i {
            font-size: 26px;
            line-height: 26px;
        }
    }

    .head {
        align-items: center;
        display: flex;
        column-gap: 24px;
        .avatar {
            background-color: #d9d9d9;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            i {
                font-size: 23px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: medium;
                margin-bottom: 4px;
                font-size: 14px;
            }
            .date {
                opacity: 0.5;
                font-size: 12px;
            }
        }
    }

    .content {
        font-size: 16px;
        margin-top: 12px;
    }
}
