*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    font-family: 'URegular';
    margin: 0;
    min-height: 100vh;
    transition:
        color 0.3s,
        background-color 0.3s;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    font-family: 'URegular';
    font-size: 14px;
    color: black;
    outline: none;
    border: 2px solid black;
    padding: 12px 14px;
}

button {
    font-family: 'URegular';
    cursor: pointer;
}